@charset "UTF-8";

body {
    background-color: black;
    background-image: url(background.webp);
    background-size: 100% 300px;
    background-repeat: no-repeat;
}

.name{
    font-size: 60Px;
    position: absolute;
    top: 5%;
    left: 13%;
}

.top{
    margin-bottom:300px;
    display: flex;
}

h1 {
    color: blanchedalmond;
    font-size: 50px;
}
h2{
    color: whitesmoke;
}
h4{
    color: whitesmoke;
}
p {
    color: whitesmoke;
    font-size: 20px;
    font-family: "Kosugi Maru", sans-serif;
}
.penerope img{
    position: absolute;
    top: 10%;
    left: 70%;
    width: 200px;
    height: 200px;
}
section{
    border-color: blanchedalmond;
    border-width: thick;
    border-style: solid;
    margin-bottom: 10px;
}
a{
    color: aquamarine;
}